progress-bar {
  display: block; 
  .progress-bar-container {
    height: 40px;
    width: 100%;
    display: block;
    background: #fff;
    border-radius: 15px;
    .progress-bar {
      background: color($colors, secondary);
      display: block;
      content: ' ';
      height: 40px;
      border-radius: 15px;
      width: 50%;
    }
  }
}
