page-swipe {

  ion-card {
    padding: 10px;
    ion-card-header {
      text-transform: uppercase;
    }
    img {
      width: 50%;
      margin: 0 auto;
    }
  }

  .bio {
    background: color($colors, light);
    border-radius: 5px;
    font-family: 'MontserratLight', sans-serif !important;
    font-size: .9em;
  }
  .header {
    padding: 10px 0 20px 0;
    background-color: color($colors, primary);
  }
  .toolbar {
    height: 100%;
    margin-bottom: 10px;
    .toolbar-background {
      background-color: color($colors, primary);
    }
  }
  .progress-bar-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .swipe-left-right {
    text-align: center;
    ion-icon {
      font-size: 5em;
    }
    .checkmark {
      color: color($colors, green);
    }
    .close {
      color: color($colors, primary);
    }
  }
}
