<ion-header>

  <ion-navbar>
    <ion-title>
      <navbar-logo></navbar-logo>
    </ion-title>
  </ion-navbar>
  <div class="progress-bar-wrapper">
    <progress-bar-portion></progress-bar-portion>
  </div>
</ion-header>

<ion-content padding no-bounce>
  <ion-card>
    <img *ngIf="potentialMatch;else loading" src="assets/icon/ingredients/{{potentialMatch.starter_ingredient}}.svg">

    <ng-template #loading>
    </ng-template>

    <ion-card-header *ngIf="potentialMatch;else loading">
      {{ potentialMatch.starter_ingredient }}
    </ion-card-header>
    <ion-item class="bio" *ngIf="potentialMatch;else loading">
      {{ potentialMatch.bio }}
    </ion-item>
  </ion-card>

  <!-- Swipe left/right -->
  <ion-grid class="swipe-left-right">
    <ion-row>
      <ion-col col-6>
        <ion-icon class="close" name="close-circle-outline" (click)="rejectPotentialMatch();"></ion-icon>
      </ion-col>
      <ion-col col-6>
        <ion-icon class="checkmark" name="checkmark-circle" (click)="acceptPotentialMatch();"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
