page-choose-starter {
  .toolbar {
    color: #fff;
    .back-button {
      color: #fff;
    }
  }
  .toolbar-background {
    background-color: color($colors, primary);
  }
  .toolbar-title {
    color: #fff;
  }
  .item {
    margin-bottom: 10px;
    &.item-input {
      border-radius: 15px;
    }
  }
  .logo {
    text-align: center;
    img {
      width: 50%;
      margin-top: 5%;
      margin-bottom: 20px;
    }
  }
	ion-row {
		height: 100px;
		margin-bottom: 10px;
		ion-col {
			// background-color: color($colors, primary);
			width: 100px;
			height: 100%;
			float: center;
			div {
				padding: 10px;
				display: block;
				margin: 0 auto;
				background-color: color($colors, light);
				width: 80%;
				size: 80%;
				border-radius: 15px;
			}
		}
	}
}
