page-choose-starter {
  .toolbar {
    color: #fff;
    .back-button {
      color: #fff;
    }
  }
  .toolbar-background {
    background-color: color($colors, primary);
  }
  .toolbar-title {
    color: #fff;
  }
  .item {
    margin-bottom: 10px;
    &.item-input {
      border-radius: 15px;
    }
  }
  .logo {
    text-align: center;
    img {
      width: 50%;
      margin-top: 5%;
      margin-bottom: 20px;
    }
  }
	ion-row {
		margin-bottom: 10px;
		ion-col {
			float: center;
			.starter-wrapper {
        color: color($colors, secondary);
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 100px;
        height: 100px;
				padding: 10px;
				display: block;
				margin: 0 auto;
				background-color: color($colors, light);
        border-radius: 15px;
        text-align: center;
        .img-wrapper {
          width: 80%;
          margin: 0 auto;
        }
			}
		}
	}
}
