page-welcome {
  .toolbar {
    color: #fff;
    .back-button {
      color: #fff;
    }
  }
  .toolbar-background {
    background-color: color($colors, primary);
  }
  .toolbar-title {
    color: #fff;
  }
  .item {
    margin-bottom: 10px;
    &.item-input {
      border-radius: 15px;
    }
  }
  .logo {
    text-align: center;
    img {
      width: 50%;
      margin-top: 5%;
      margin-bottom: 20px;
    }
  }
  ion-content {
  	text-align: center;
  	height: 100%;
  	#congrats {
  		color: color($colors, secondary);
  		font-size: 40px;
  	}
  	#name {
  		text-transform: uppercase;
  		color: color($colors, light);
  		font-size: 65px;
  	}
  	#start {
  		color: #F9E6E7;
  		font-size: 50px;
  		margin: 50px;
  	}
		img {
			width: 65px;
			height: 65px;
			display: block;
			margin: 70px auto auto auto;
		}
  }
}
